<!DOCTYPE html>
<html lang="pt-BR">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/contato.css">
        <link rel="stylesheet" href="../css/fonts.css">
        <link rel="stylesheet" href="../css/media.css">
        <title>EasyPets - Contato</title>
</head>
    <body>  
        <section>
            <div class="container">
                <div class="infoContato">
                    <div>
                        <h2>Infomações Contato</h2>
                        <ul class="info">
                            <li>
                                <span><ion-icon name="location-outline"></ion-icon></span>
                                <span>
                                    Rua Araucaria, 9999<br>
                                    São paulo, Brasil
                                </span>
                            </li>
                            <li>
                                <span><ion-icon name="mail-outline"></ion-icon></span>
                                <span>lorem@ipsum.com</span>
                            </li>
                            <li>
                                <span><ion-icon name="call-outline"></ion-icon></ion-icon></span>
                                <span>+55 11 919191919</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="formContato">
                    <h2>Mande uma Mensagem</h2>
                    <div class="caixaForm">
                        <div class="caixaInput w50">
                            <input type="text" required>  
                            <span>Primeiro Nome</span> 
                        </div>
                        <div class="caixaInput w50">
                            <input type="text" required>  
                            <span>Sobrenome</span> 
                        </div>
                        <div class="caixaInput w50">
                            <input type="email" required>  
                            <span>Endereço de Email</span> 
                        </div>
                        <div class="caixaInput w50">
                            <input type="email" required>  
                            <span>Celular</span> 
                        </div>
                        <div class="caixaInput w100">
                            <textarea required></textarea>  
                            <span>Escreva sua Mensagem aqui...</span> 
                        </div>
                        <div class="caixaInput w100">
                            <input type="submit" value="Send">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>