<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sobre.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/media.css">
    <title>EasyPets - Sobre o Projeto</title>
</head>
<body>
    <section class="sobre">
        <div class="imagem">
            <img src="../components/images/ImagemPet.png">
            <div class="textoSobre">
                <h1>Sobre nós</h1>
                <h5><span>Easy</span> Pets</h5>
                <p>O objetivo do projeto EasyPets será construir uma aplicação web, onde facilitará os processos do usuário em conseguir realizar adoções de animais, 
                doações para apoiar a causa do projeto e também adquirir alguns utensílios, acessórios ou até alimentos para os seus próprios animais adotados 
                ou que já possuem.</p>
                <p>A ideia principal é reduzir cada vez mais o número de animais abandonados em condições precárias e ajudar os pets que adquiriram doenças 
                devido suas condições de vida, que passam fome e sede.</p>
                <p>Em relação a monetização do projeto, todos os recursos obtidos serão através de duas funcionalidades 
                principais que teremos em nossa aplicação, sendo elas: Doação e Loja. O dinheiro arrecadado através dos produtos da loja, será voltado para os fundos da empresa
                como por exemplo, melhorias da aplicação, aluguel do espaço alocado para animais resgatados, contas particulares da empresa, entre outros. O dinheiro obtido 
                através das doações, 70% será direcionado para outros projetos de outras organizações com o mesmo objetivo que a EasyPets, em diminuir o número de animais 
                abandonados e fornecer uma melhor qualidade de vida para os pets. Já os outros 30%, também serão de auxílio para as despesas e melhorias da empresa.</p> 
            </div>
        </div>
    </section>
    
</body>
</html>